<article>

    <div class="article-top-meta">
    <span class="posted-on">
        <a href="<%- config.root %><%- item.path %>" rel="bookmark">
        <time class="entry-date published" datetime="<%= item.date.toDate().toISOString() %>">
            <%= item.date.format(config.date_format) %>
        </time>
        </a>
    </span>
    </div>

    <h3 class="index-article-title"><a href="<%- config.root %><%- item.path %>"><span><%= item.title %></span></a></h3>
  
    <div class="article-footer">
      <div class="article-meta pull-left">
  
      <% if (item.categories && item.categories.length){ %>
        <%
          var cats = [];
          item.categories.forEach(function(cat){
              cats.push('<a href="' + config.root + cat.path + '">' + cat.name + '</a>');
          });
        %>
  
      <span class="post-categories">
        <i class="icon-categories"></i>
          <%- cats.join(', ') %>
      </span>
      <% } %>
  
      <% if (item.tags && item.tags.length){ %>
      <%
          var tags = [];
          item.tags.forEach(function(tag){
              tags.push('<a href="' + config.root + tag.path + '">' + tag.name + '</a>');
          });
      %>
  
      <span class="post-tags">
          <%- tags.join('') %>
      </span>
      <% } %>
  
      </div>
    </div>
  </article>  